* / {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    background-color: lightseagreen;
    padding-top: 8px;
    background-size: cover;
}
header {
    background-color: rgb(30, 112, 162);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    color: rgb(57, 235, 146);
}

header img {
    align-self: flex-start;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
}

.navbar {
    font-size: 25px;
    line-height: 1.2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar li a {
    color: yellow
}

.navbar li a:hover {
    background-color: white;
    color: black;
}

h1 {
    align-self: center;
    font-size: 40px;
    text-decoration: underline;
}

.about-me {
    width: 60%;
    display: inline-block;
}

.about-me h2 {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    margin-left: 45px;
    text-align: left;
}

.about-p-1 {
    text-indent: 15px;
    width: 250px;
    margin-left: 15px;
}

.about-p-2 {
    text-indent: 15px;
    width: 250px;
    margin-left: 15px;
}

.my-work {
    float: right;
    width: 40%;
} 

.portfolio-image-1 img {
    width: 500px;
    margin-right: 5px;
    margin-top: 8px;
    border-color: black;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
}

.portfolio-image-1 figcaption {
    font-size: 22px;
    text-align: center;
}

.my-work h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    margin-left: 60px;
    font-size: 32px;
    text-align: center;
}

.my-work h3 {
    font-size: 26px;
    text-align: center;
    text-decoration: underline;
}
 
.portfolio-image-2 {
    font-size: 22px;
    text-align: left;
}

.portfolio-image-2 figcaption {
    margin-bottom: 14px;
    text-align: center;
}

.portfolio-image-2 img {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
}

.contact-me {
    margin-top: 200px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.contact-me h2 {
    font-size: 32px;
    text-decoration: underline;
}

.contact-me ul {
    font-size: 22px;
}
  
.hide {
    display: none;
}

.phone:hover + .hide {
    display: block;
    color: white;
    font-size: 22px;
    text-decoration: underline;
}
